# ------------------ Application Configuration ------------------
APP_NAME=Mini-RAG
APP_VERSION=0.1.0
APP_DESCRIPTION=A mini RAG application for demo purposes
ENVIRONMENT=local

# ------------------ File Upload Configuration ------------------
FILE_ALLOWED_TYPES=["text/plain", "application/pdf"]
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512000 # 512KB
CHUNK_SIZE_DEFAULT= 800
OVERLAP_SIZE_DEFAULT= 100

# ------------------ MongoDB Configuration ------------------
MONGODB_URL=mongodb://admin:your_secure_password_here@localhost:27007/?authSource=admin
MONGODB_DATABASE=put_your_database_name_here
